// background colors
$bg_white: #fff;
$bg_darker_green: #39ffbf;
$bg_lighter_green: #35ffbf;
$bg_chat: #527ceb;
$bg_lighter_red: #f81d39;
$bg_darker_red: #f00e2e;
$bg_gray: #4c4c4c;
$bg_darkblue: #242340;

// text colors
$text_white: #fff;
$text_transparent_white: #ffffffb9;
$text_dirty_white: #e9e9e9;
$text_gray: #aaaaaa;
$text_dark_gray: #444;
$text_green: #39ffbf;
$text_red: #f81d39;
$text_black: #000;
$text_dark_violet: #1f1e38;

// fill colors

// border colors
$border_white: #fff;
