@use "bootstrap";
@use "../styles/partials/variables.scss" as *;

body {
  font-family: "Lato", sans-serif;
}

.main_nav {
  ul {
    list-style: none;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }
}

.main_title {
  text-transform: uppercase;
  font-weight: 700;
}

.blue_col {
  background-color: $bg_darkblue;
}

.red_img_col {
  background-size: cover;
}

.line_azur {
  background-color: $bg_darker_green;
  height: 2.5px;
}

.text_section {
  font-size: 0.9rem;
  line-height: 1.5;
}

.row {
  margin: 0;
}
