@use "bootstrap";
@use "../styles/partials/variables.scss" as *;

body {
  font-family: "Lato", sans-serif;
  position: relative;
}

.main_nav {
  ul {
    list-style: none;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }
}

.main_title,
.main_title_repeat {
  text-transform: uppercase;
  font-weight: 700;
}

.main_title_repeat {
  font-size: 2rem;
  color: $text_white;
  margin-top: 1.8rem;
  line-height: 2.5rem;
}

.blue_col {
  background-color: $bg_darkblue;
}

.red_img_col {
  background-size: cover;
}

.line_azur {
  background-color: $bg_darker_green;
  height: 2.5px;
}

.text_section {
  font-size: 0.9rem;
  line-height: 1.5;
}

.row {
  margin: 0;
}

.arrow_up,
.chat {
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  text-align: center;
}

.chat {
  background-color: $bg_chat;
  height: 3rem;
  width: 3rem;
  right: 1rem;
  bottom: 1rem;
  line-height: 3rem;
  color: $text_white;
  font-size: 1.2rem;
}
